.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.button {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 6px;

  width: 133px;
  height: 48px;

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.fullWidthOnMobile {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .fullWidthOnMobile {
    width: 133px;
  }
}

@media only screen and (min-width: 1440px) {
  .button,
  .fullWidthOnMobile {
    width: 160px;
  }

  .button {
    font-size: 20px;
  }
}