.loginPage {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100svh;
  padding: 0 20px;
  overflow-y: auto;
  /*background: var(--color-white);*/
}

.header {
  display: flex;
  align-items: center;
  min-height: 72px;
  justify-content: space-between;
}

.login {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 335px;
  width: 100%;
  max-width: 644px;
  margin: 0 auto;
  gap: 32px;
  padding-top: 64px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 72px;
  margin-top: auto;
}

@media screen and (min-width: 768px) {
  .loginPage {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .loginPage {
    padding: 0 64px;
  }
}
