.loginPage {
    display: flex;
    flex-direction: column;
    min-height: 100svh;
    padding: 0 20px;
    max-width: 335px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 72px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 32px;
    
    padding-top: 64px;
}

.footer {
    margin-top: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 72px;
}

@media screen and (min-width: 768px) {
    .loginPage {
        padding: 0 32px;
        width: 100%;
        max-width: 768px;
    }

    .login {
        align-items: center;
        width: 644px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1440px) {
    .loginPage {
        padding: 0 64px;
        max-width: 1440px;
    }

    .login {
        align-items: center;
        width: 644px;
        margin: 0 auto;
    }
}