.section {
  padding: 64px 0;
  margin: 0 auto;
}

.topWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.title {
  text-align: left;
  color: var(--color-black);
}

.desktopBtn {
  display: none;
}

.mobileBtn {
  display: flex;
  width: 100%;
  order: 2;
}

.mobileBtn button, 
.mobileBtn a {
  width: 100%;
  height: 48px;
  margin-top: 48px;        
}

.sliderWrapper {
  width: 100%;
}

/* моб - 3 картки стовпчиком */

.swiper {
  width: 100%;
  height: calc(317px * 3 + 48px);
  min-width: 0;
}


.swiperSlide {
border-radius: 12px;
background-color: var(--color-accent-light);
}



.swiper :global(.swiper-slide) {
  height: calc((100% - 48px) / 3) !important;
  box-sizing: border-box;
}



/* Навігація */
.bottomWrapper {
  display: flex;
  flex-direction: column;
  padding-top: 48px;
  }

.navigationButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  order: 1;
}

.navBtn {
  display: flex;
  border: 1px solid var(--color-gray-300);
  border-radius: 8px;
  width: 48px;
  height: 48px; 
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  background: transparent;

  background: var(--color-green-100);
}

.navBtn:hover:not(:disabled) {
  background: var(--color-background-soft);
  border-color: var(--color-green-300);
}

.navBtn:active:not(:disabled) {
  background: var(--color-green-300);
  border-color: var(--color-green-300);
}

.navBtn.disabled,
.navBtn:disabled {
  opacity: 0.3;
  background: transparent;
  border-color: var(--color-gray-200);
  cursor: not-allowed;
}


/* TABLET   */

@media (min-width: 768px) {
  .section {
    padding: 64px 0;
  }

  .topWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   }
   
  .desktopBtn {
    display: inline-block;
    width: 166px;
    height: 48px;   
    padding: 8px 11px;
  }

  .mobileBtn {
    display: none;
  }

  .bottomWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .swiper {
    height: 658px !important; 
  }

  .swiper :global(.swiper-slide) {
   
    height: calc((100% - 24px) / 2) !important; 
  }
}


/* DESKTOP */

@media (min-width: 1440px) {
  .section {
    padding: 72px 0;
    width: 100%;
  }


  .desktopBtn {
    width: 202px;
    height: 48px;    
  }

  .swiper {
    height: 335px !important; 
  }

  .swiper :global(.swiper-slide) {
    height: auto !important; 
  }
}