.main {
  padding: 32px 0 64px;
}

.travellerContainer {
  width: 100%;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
}

/* TABLET */

@media screen and (min-width: 768px) {
  .main {
    padding: 32px 0 64px;
  }
}

/* DESKTOP */

@media screen and (min-width: 1440px) {
  .main {
    padding: 48px 0 72px;
  }
}