
.main { background: var(--color-background-green);
padding: 32px 20px 64px;    
}
.container {
     width: 100%;
     margin: 0 auto;
}


.title{
color: var(--color-text-primary);
font-weight: 700;
font-size: 32px;
line-height: 110%;
text-align: center;
margin-top: 0;
margin-bottom: 24px;
}

.travellersList {
display: flex;
flex-direction: column;
gap: 24px;
padding: 0;
margin: 0;
list-style: none;
}

.item {
background: var(--color-accent-light);
border-radius: 12px;
padding: 24px;
width: 100%;
max-width: 335px;
height: 317px;
margin: 0 auto;
}


/* TABLET */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 48px 32px;
    }
.travellersList {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px; 
}
}
/* DESKTOP */

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
        padding: 80px 64px;
  }

.travellersList {
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px;
  }
}