.overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgba(0, 0, 0, 0.4);
}

.modal {
    position: relative;

    width: 335px;
    padding: 64px 16px 16px;

    text-align: center;

    background: var(--card-bg);
    border-radius: 16px;
}

.close {
    position: absolute;
    top: 25px;
    right: 25px;

    padding: 0;

    color: var(--text-primary);
    background: transparent;
    border: none;
    cursor: pointer;
}

.closeIcon {
    fill: currentColor;
    stroke: currentColor;
    stroke-width: 1;
}

.title {
    margin-bottom: 16px;
}

.subtitle {
    margin-bottom: 32px;

    font-size: 16px;
    line-height: 1.4;
    color: var(--text-secondary);
}

.actions {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.button {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .modal {
        width: 704px;
        padding: 64px;
    }

    .actions {
        flex-direction: row;
    }
}

@media screen and (min-width: 1440px) {
    .modal {
        width: 768px;
    }
}git add src/components/modals/confirm-modal/confirm-modal.tsx git add src/components/modals/confirm-modal/confirm-modal.module.css git rebase --continue