:root {
    --header-height: 72px;
}

html {
    scroll-padding-top: var(--header-height);
}

html, body {
    transition: background-color 0.3s ease, color 0.3s ease;
}

main {
    padding-top: var(--header-height);
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 320px;
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-primary);
    background-color: var(--color-background-primary);
}

button,
a {
    transition:
        color 200ms ease,
        background-color 200ms ease,
        border-color 200ms ease,
        opacity 200ms ease;
}