:root {
    --header-height: 72px;
}

html {
    scroll-padding-top: var(--header-height);
}

main {
    padding-top: var(--header-height);
    flex: 1 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 320px;
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-text-primary);
    background-color: var(--color-background);
}

.section{
    padding-block: 64px;
}

button,
a {
    transition:
        color 200ms ease,
        background-color 200ms ease,
        border-color 200ms ease,
        opacity 200ms ease;
}

h1 {
    font-size: 32px;
    line-height: 1.1;
}

h2 {
    font-size: 28px;
    line-height: 1.2;
}

h4 {
    font-size: 18px;
    line-height: 1.4;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 47px;
    }

    h2 {
        font-size: 43px;
    }
}

@media screen and (min-width: 1440px) {
    .section{
        padding-block: 72px;
    }

    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 52px;
    }

    h4 {
        font-size: 26px;
    }
}