.section_stories {
  background-color: var(--color-green-50);
  padding: 48px 64px 72px;
}

.status {
  text-align: center;
  padding: 48px 0;
  font-size: 18px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-inline: 16px;
  margin-bottom: 40px;
}

.grid > * {
  flex: 0 1 100%;
}

@media (min-width: 768px) {
  .grid {
    padding-inline: 32px;
  }

  .grid > * {
    flex: 0 1 calc(50% - 12px);
  }
}

@media (min-width: 1440px) {
  .grid {
    padding-inline: 64px;
  }

  .grid > * {
    flex: 0 1 calc(33.333% - 16px);
  }
}