.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: var(--header-height);
}

.headerContainer {
    height: var(--header-height);

    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav,
.desktopActions,
.tabletActions {
    display: none;
}

.nav:has(.navLink:not([aria-current="page"]):hover) .navLink[aria-current="page"],
.nav:has(.navLink:not([aria-current="page"]):focus-visible) .navLink[aria-current="page"] {
    font-weight: 400;
    color: var(--color-text-primary);
    background-color: transparent;
    border-color: transparent;
}

.publishButton {
    font-size: 16px;
    width: 196px;
}

.burgerButton {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.05);

    cursor: pointer;
}

/* tablet */
@media screen and (min-width: 768px) {
    .tabletActions {
        display: flex;
        align-items: center;

        margin-left: auto;
        margin-right: 16px;
    }
}

/* desktop */
@media screen and (min-width: 1440px) {
    .nav {
        display: flex;
        align-items: center;
        gap: 0;

        margin-left: auto;
    }

    .navLink {
        color: #163b1f;
        text-decoration: none;
        font-size: 18px;
    }

    .navLink:hover {
        color: #3f9446;
    }

    .desktopActions {
        display: flex;
        align-items: center;
        gap: 16px;

        margin-left: 32px;
    }

    .publishButton {
        width: 240px;
        height: 38px;
        font-size: 20px;
    }

    .tabletActions,
    .burgerButton {
        display: none;
    }
}