.main {
    position: relative;

    min-height: 100vh;
    padding: 32px 0 64px;
}

.travellerInfo {
    margin-bottom: 32px;
}

.profileHeader {
    position: relative;
}

.editProfileWrapper {
    position: absolute;
    right: 0;
    bottom: 0;

    display: inline-flex;
}

.editProfileButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 32px;
    padding: 0;

    color: var(--color-accent);
    background: transparent;
    border-radius: 50%;
}

.editProfileIcon {
    flex-shrink: 0;
}

.storiesSection {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-top: 40px;
}

@media screen and (min-width: 768px) {
    .editProfileWrapper {
        top: 0;
        bottom: auto;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        padding: 48px 0 72px;
    }

    .travellerInfo {
        margin-bottom: 48px;
    }

    .editProfileButton {
        width: 40px;
        height: 40px;
    }

    .editProfileIcon {
        width: 24px;
        height: 24px;
    }
}