.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 335px;
  margin-inline: auto;
  border-radius: 12px;
  overflow: hidden;
  color: var(--color-green-900);
  background-color: var(--color-green-100);
  border: 0px solid var(--color-border-subtle);
}

.imageWrapper {
  position: relative;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image {
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}

.meta {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: nowrap;
  color: var(--color-green-900);
}

.author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-green-900);
}

.dot {
  flex-shrink: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-green-900);
}

.rate {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  flex-shrink: 0;
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  color: var(--color-green-900);
}

.title {
  font-size: 18px;
  font-weight: 700;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.actions {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: auto;
}

.viewButton {
  flex: 1;
  min-width: 0;
  border: 1px solid var(--color-border-subtle);
  border-radius: 6px;
  padding: 6px 12px;
  height: 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  background: var(--color-surface-subtle);
}

.viewButtonText {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .card {
    max-width: 340px;
    margin-inline: 0;
  }

  .content {
    height: 182px;
  }
}

@media only screen and (min-width: 1440px) {
  .card {
    max-width: 421px;
  }
  .content {
    height: 212px;
  }

  .title {
    font-size: 26px;
  }
  .author {
    font-size: 16px;
  }
  .dot {
    font-size: 20px;
  }

  .rate {
    font-size: 16px;
  }

  .title {
    font-size: 26px;
  }

  .viewButton {
    font-size: 20px;
  }
}
