.authBar {
  display: flex;
  width: 100%;
  max-width: 644px;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 48px;
  padding: 12px 24px;

  color: var(--color-text-primary);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;

  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.active {
  border-bottom-color: var(--color-gray-700);
}

@media screen and (min-width: 1440px) {
  .link {
    font-size: 18px;
  }
}
